* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background-image: url(../../assets/pic/Néni\,\ néni\ működik\ a\ lézerkard.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 120vh;
}

.ls-container {
  display: flex;
  width: 675px;
}

.ls-grip {
  width: 150px;
  height: 26px;
  display: flex;
}

.ls-grip .grip-01 {
  width: 8%;
  border-radius:  3px;
  background: rgb(100, 100, 100);
  background: linear-gradient(
    180deg,
    rgba(100, 100, 100, 1) 0%,
    rgba(186, 186, 186, 1) 50%,
    rgba(100, 100, 100, 1) 100%
  );
}

.ls-grip .grip-02 {
  width: 32%;
  height: 20px;
  margin: 3px 0;
  background: rgb(100, 100, 100);
  background: linear-gradient(
    180deg,
    rgba(100, 100, 100, 1) 0%,
    rgba(186, 186, 186, 1) 50%,
    rgba(100, 100, 100, 1) 100%
  );
}

.ls-grip .grip-button {
  width: 6%;
  height: 20px;
  margin: 3px 0;
  background: rgb(40, 40, 40);
  background: linear-gradient(
    180deg,
    rgba(10, 10, 10, 1) 0%,
    rgba(70, 70, 70, 1) 50%,
    rgba(10, 10, 10, 1) 100%
  );
  cursor: pointer;
}

.button-off {
  background: rgb(10, 10, 10);
  background: linear-gradient(
    180deg,
    rgba(10, 10, 10, 1) 0%,
    rgba(70, 70, 70, 1) 50%,
    rgba(10, 10, 10, 1) 100%
  );
}

.button-on {
  background: rgb(30, 30, 30);
  background: linear-gradient(
    180deg,
    rgba(10, 10, 10, 1) 0%,
    rgba(220, 220, 220, 1) 50%,
    rgba(10, 10, 10, 1) 75%
  );
}

.ls-grip .grip-03 {
  width: 32%;
  height: 20px;
  margin: 3px 0;
  background: rgb(40, 40, 40);
  background: linear-gradient(
    180deg,
    rgba(40, 40, 40, 1) 0%,
    rgba(100, 100, 100, 1) 50%,
    rgba(40, 40, 40, 1) 100%
  );
}

.ls-grip .grip-04 {
  width: 14%;
  height: 14px;
  margin: 6px 0;
  background: rgb(20, 20, 20);
  background: linear-gradient(
    180deg,
    rgba(20, 20, 20, 1) 0%,
    rgba(70, 70, 70, 1) 50%,
    rgba(20, 20, 20, 1) 100%
  );
}
.ls-grip .grip-05 {
  width: 8%;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: rgb(100, 100, 100);
  background: linear-gradient(
    270deg,
    rgba(186, 186, 186, 1) 0%,
    rgba(70, 70, 70, 1) 100%
  );
}

.ls-blade {
  height: 14px;
  margin: 6px 0;
  background-color: white;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  /* box-shadow: 0 0 26px 5px rgb(23,123,236);
 box-shadow: 0 0 26px 5px rgb(207,24,24);
 box-shadow: 0 0 26px 5px rgb(199,4,183); */
  /*box-shadow: 0 0 26px 5px rgb(10,199,3);*/
  /* box-shadow: 0 0 26px 5px rgb(255,255,255); */
}

.open {
  animation: bladein 0.7s 1 ease-in-out;
  width: 525px;
  box-shadow: 0 0 26px 5px rgb(10, 199, 3, 1);
}

.close {
  animation: bladeout 0.7s 1 ease-in-out;
  width: 0px;
  box-shadow: 0 0 26px 5px rgb(10, 199, 3, 0);
}

@keyframes bladein {
  0% {
    width: 0px;
    box-shadow: 0 0 26px 5px rgb(10, 199, 3, 0);
  }
  33% {
    box-shadow: 0 0 26px 5px rgb(10, 199, 3, 1);
  }
  100% {
    width: 525px;
    box-shadow: 0 0 26px 5px rgb(10, 199, 3, 1);
  }
}
@keyframes bladeout {
  0% {
    width: 525px;
    box-shadow: 0 0 26px 5px rgb(10, 199, 3, 1);
  }
  66% {
    box-shadow: 0 0 26px 5px rgb(10, 199, 3, 0);
  }
  100% {
    width: 0px;
    box-shadow: 0 0 26px 5px rgb(10, 199, 3, 0);
  }
}
